.accordin{
    margin: 5px 0px;
    background: rgb(44,72,106);
    width: 100%;
    height: auto ;
}
.accordin:hover{
    margin: 5px 0px;
    background: rgb(37, 61, 91);
    width: 100%;
    height: auto ;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px ;
    cursor: pointer;
}
h3{
    font-size: 18px;
    font-weight: 400;
    color: white;
}

p{
    font-weight: 400;
    color: #1f1b17;
    text-align: justify;
    background-color: #dde6e8;
    padding: 10px 15px;
    border: 0.1px solid black;
    border-radius: 2px;
    margin-top: 0px;
    cursor: pointer;
}
.arrowIcon{
    font-size: 25px;
    font-weight: 600;
}

