.container{
  min-width: 30vw;
  max-width: 450px;
  height: auto;
  padding: 10px 20px;
  margin: 20px auto 0px auto;
  background-color: #dde6e8;
  border-radius: 5px;
  font-family:'Times New Roman', Times, serif
}

.container .title{
  color: #0B3948;
  font-weight: 600;
  text-align: center;

}
